@import url('https://fonts.googleapis.com/css2?family=Teko&family=Ubuntu&display=swap');

/* All elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body style rules */

body {

    font-family: 'Ubuntu', sans-serif, Helvetica, arial;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    /* Sets font-size for mobile devices */
    background-image: radial-gradient(#cdcdcd, #e9e9e9);

}

/* H1, H2, H3 general rules */

h1,
h2,
h3 {

    font-family: Teko, sans-serif, Helvetica, arial;
}

/* remove default <a> and <ul> styles */
a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

ul {
    list-style: none;
}

/* h1 style rules */

h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* h2 and h3 style rules */

h2, h3 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 0.5rem;
}

/* text justify style rules */

.justify-text {
    text-align: justify;
}

/* header and nav */

header {
    background-image: linear-gradient(to bottom, #88bbd6, #e9e9e9);
}

.logo {
    width: fit-content;
    margin: 6% auto;
    padding: 0.25rem 0.5rem;
    border: 0.3rem solid #e9e9e9;
    border-radius: 25px;
    /* blinking border for logo animation */
    animation: blink 1.75s;
    animation-iteration-count: 10;
    font-style: normal;
}

@keyframes blink {
    50% {
        border-color: #cdcdcd;
    }

}

/* flex nav-container contining logo and naigation list */

.nav-container {
    display: flex;
    flex-flow: column;
}

/* flex list for navigation */

.header-ul {
    display: flex;
    justify-content: space-evenly;
}

.header-list-item {
    background-color: #e9e9e9;
    font-size: 0.6rem;
    font-style: normal;
    margin-bottom: 5%;
    padding: 0.25rem 0.5rem;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    
}


/* active nav-links and hover nav-links style  */

.active-nav-link {
    background-color: rgba(152, 211, 223, 0.2);
}

.header-list-item:hover {
    background-color: rgba(152, 211, 223, 0.3);
    font-weight: 900;
    text-transform: uppercase;
    transform: scale(1.2);

}

/* flex footer with social media links */

footer {
    background-image: linear-gradient(to top, #88bbd6, #e9e9e9);
    display: flex;
    justify-content: space-evenly;
}

.footer-link {
    font-size: 1.5rem;
    margin: 1.25rem 0 1rem 0;

}

/* footer toggle shake animation on hover */

.footer-link:hover {
    color: rgba(0, 0, 0, 0.8);

    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Hero container */

.hero-container {
    background-size: cover;
    background-image: url(/assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 45%;
    display: flex;
    flex-flow: column;
}

/* hero quote sections */

.hero-quote-container {
    font-weight: 600;
    background-image: linear-gradient(to right, #cdcdcd, rgb(205, 205, 205, 0.8));
    max-width: 50%;
    font-weight: 600;
    text-align: left;
    margin: 4%;
    padding: 4%;
    border-radius: 25px;
}

/* style rules for the person who provides quote */

.person {
    font-family: teko;
    font-weight: 600;
    font-size: 1rem;
}

/* motivation page general style to containers and font */

.about-container,
.quote-container,
.article-container {
    font-size: 0.75rem;
    padding: 1rem;
    text-align: left;
}

/* about container styling */

.about-container {
    background-image: linear-gradient(to right, #cdcdcd, #e9e9e9);
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
}

/* article container styling */

.article-container {
    background-image: linear-gradient(to right, #88bbd6, #cdcdcd);
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
}

/* quote container styling */

.quote-container {
    background-image: linear-gradient(to right, #cdcdcd, #e9e9e9);
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
    font-weight: 800;
}

/* motivation grid container for whole motivation page */

.motivation-container {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "one one"
    "two three"
    "four four"
    "five six"
    "seven seven"
    "eight nine"
    "ten ten"
    "eleven twelve";
    grid-auto-columns: 1fr;
}

   /* media query for above 768px */

   @media screen and (min-device-width: 768px) {
    
    .motivation-container {
            
        grid-template-areas: 
            'one one two'
            'one one three'
            'four four five'
            'four four six'
            'seven seven eight'
            'seven seven nine'
            'ten ten eleven'
            'ten ten twelve';
    }
}



#about-motivation {
    grid-area: one;
}

/* background image on quote 1 */

#quote1 {
    grid-area: two;
    background-image: url(/assets/images/press-up-lady-child.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;

}

/* background image on quote 2 */

#quote2 {
    grid-area: three;
    background-image: url(/assets/images/boxing-gloves.jpg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
    background-position: 0 60%;
}

#article1 {
    grid-area: four;
}

/* background image on quote 3 */

#quote3 {
    grid-area: five;
    background-image: url(/assets/images/pull-up-warehouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
}

/* background image on quote 4 */

#quote4 {
    grid-area: six;
    background-image: url(/assets/images/squat-man-lady.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 60%;
}

#article2 {
    grid-area: seven;
}

#quote5 {
    grid-area: eight;
}

#quote6 {
    grid-area: nine;
}

#article3 {
    grid-area: ten;
}

#quote7 {
    grid-area: eleven;
}

#quote8 {
    grid-area: twelve;
}

.quote-text-container {

    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 0.25rem;
    border-radius: 10px;
}

/* excercise page container */

.exercise-page-container {
    margin: 1rem;

}

/* exercise flex photo grid */

.flex-photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.figure-exercise {
    padding: 1rem;
    flex-basis: 50%;

}

    /* media query for tablets and above */

    @media screen and (min-device-width: 768px) {
    
    .figure-exercise {
            flex-basis: 33%;
    }
}

   /* media query for laptops */

   @media screen and (min-device-width: 1024px) {
    
    .figure-exercise {
            flex-basis: 25%;
    }
}
    

.img-exercise {
    width: 100%;
    border-radius: 10px;
}

/* zoom effect on hover of image */

.img-exercise:hover {

    transform: scale(1.25);
}

/* workouts page container */

.workouts-page-container {
    margin: 1rem;

}

.workouts-container {
    background-image: linear-gradient(to right, #88bbd6, #cdcdcd);
    box-shadow: 5px 10px 8px #888888;
    margin: 1rem 0;
    font-size: 0.75rem;
    padding: 1rem;
    border-radius: 10px;
}



