@import url('https://fonts.googleapis.com/css2?family=Teko&family=Ubuntu&display=block');

/* Border shadow and background gradients were used throughout, taught by w3schools.com */

/* All elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body style rules */

body {
    font-family: 'Ubuntu', sans-serif, Helvetica, arial;
    font-weight: 400;
    text-align: center;
    /* For browsers who do not support gradients add background col0r */
    background-color: #e9e9e9;
    background-image: radial-gradient(#cdcdcd, #e9e9e9);
}

/* H1, H2, H3 general rules */

h1,
h2,
h3 {
    font-family: Teko, sans-serif, Helvetica, arial;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

h2,
h3 {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.sub-heading {
    font-size: 1rem;
}

/* media query for 600px and above on headings */

@media (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }

    h2,
    h3 {
        font-size: 1.75rem;
        padding: 1rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }
}

/* media query for 1024px and above on headings */

@media (min-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    h2,
    h3 {
        font-size: 2.25rem;
        padding: 1rem;
    }

    .sub-heading {
        font-size: 2rem;
    }
}

/* remove default styles and add new to <a> and <ul> elements */
a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

/* <a> to footer */

.link-to-footer {
    text-decoration: underline;
}

.link-to-footer:hover {
    font-weight: 400;
}

/* active nav-links and hover nav-links style  */

.active-nav-link {
    background-color: rgba(152, 211, 223, 0.2);
}

.header-list-item:hover {
    background-color: rgba(152, 211, 223, 0.3);
    font-weight: 900;
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* text justify style rules */

.justify-text {
    text-align: justify;
}

#text-align-center {
    text-align: center;
}

/* header and nav */

header {
    /* background color for browsers that do not support gradient */
    background-color: #88bbd6;
    background-image: linear-gradient(to bottom, #88bbd6, #e9e9e9);
}

.logo {
    width: fit-content;
    margin: 6% auto;
    padding: 0.25rem 0.5rem;
    border: 0.3rem solid #e9e9e9;
    border-radius: 25px;

    /* blinking border for logo animation - blink effect from stackoverflow.com and modified */

    animation: blink 1.75s;
    animation-iteration-count: 10;
    font-style: normal;
}

@keyframes blink {
    50% {
        border-color: #cdcdcd;
    }
}

/* flex nav-container containing logo and naigation list */

.nav-container {
    display: flex;
    flex-flow: column;
}

/* flex list for navigation */

.header-ul {
    display: flex;
    justify-content: space-evenly;
}

.header-list-item {
    background-color: #e9e9e9;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-bottom: 5%;
    padding: 0.6rem 0.5rem;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    font-family: teko;
    font-weight: 400;
}

/* media quieries for header and nav min 600px and 1024px */

@media (min-width: 600px) {
    .header-list-item {
        font-size: 1.25rem;
        padding: 0.8rem 0.7rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        margin-left: 2rem;
    }

    .nav-container {
        flex-flow: row;
        padding: 3rem 1rem 2rem 1rem;
    }

    .header-ul {
        margin-left: auto;
    }

    .header-list-item {
        height: fit-content;
        margin: 3rem 1.25rem;
        padding: 0.6rem 0.7rem;
    }
}

/* flex footer with social media links */

footer {
    /* Background color or browsers that do not support gradient */
    background-color: #88bbd6;
    background-image: linear-gradient(to top, #88bbd6, #e9e9e9);
    display: flex;
    justify-content: space-evenly;
}

.footer-link {
    font-size: 1.5rem;
    margin: 1.25rem 0 1rem 0;
}

/* footer toggle shake animation on hover - animation code from from w3school.com */

.footer-link:hover {
    color: rgba(0, 0, 0, 0.8);

    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* footer media queries for 600px and above devices */

@media (min-width: 600px) {
    .footer-link {
        font-size: 2rem;
        margin: 1.5rem 0 1rem 0;
    }
}

/* Hero container */

.hero-container {
    background: url('../images/hero.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
    display: flex;
    flex-flow: column;
}

/* hero quote sections */

.hero-quote-container {
    background-image: linear-gradient(to right, #cdcdcd, rgba(233, 233, 233, 0.7));
    max-width: 50%;
    font-weight: 600;
    text-align: left;
    margin: 4%;
    padding: 4%;
    border-radius: 25px;
}

/* style rules for the person who provides quote */

.person-hero {
    font-family: teko;
    font-size: 1.25rem;
}

.person {
    font-family: teko;
    font-size: 0.75rem;
}

/* General style rules to containers */

.quote-container,
.article-container,
.about-container,
.about-exercise-container,
.about-workouts,
.workouts-container,
.link-container,
.about-form-container,
.thank-you-container {
    font-size: 0.75rem;
    padding: 1rem;
    text-align: left;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
}

/* Container gradient shared styles */
/* Background color added for browsers that cant see gradients */

.about-container,
.about-exercise-container,
.about-workouts,
.link-container,
.about-form-container {
    background-color: #cdcdcd;
    background-image: linear-gradient(to right, #cdcdcd, #e9e9e9);
}

.article-container,
.workouts-container {
    background-color: #88bbd6;
    background-image: linear-gradient(to right, #88bbd6, #cdcdcd);
}

/* motivation page */

/* quote container styling */

.quote-container {
    /* Background color for browsers who dont support gradient */
    background-color: #99d3df;
    background-image: radial-gradient(#ffffff, #99d3df);
    font-family: teko;
}

.quote-text-container {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: auto 0;
}

/* motivation grid container for whole motivation page */

.motivation-container {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "one one"
        "two three"
        "four four"
        "five six"
        "seven seven"
        "eight nine"
        "ten ten"
        "eleven twelve";
    grid-auto-columns: 1fr;
}

/* media query for above 768px */

@media (min-width: 768px) {
    .motivation-container {
        gap: 3rem;
        grid-template-areas:
            'one one two'
            'one one three'
            'four four five'
            'four four six'
            'seven seven eight'
            'seven seven nine'
            'ten ten eleven'
            'ten ten twelve';
    }
}

#about-motivation {
    grid-area: one;
}

#quote1 {
    grid-area: two;
}

#quote2 {
    grid-area: three;
}

#article1 {
    grid-area: four;
}

@media (min-width: 600px) {
    #article1 {
        padding-top: 4rem;
    }
}

#quote3 {
    grid-area: five;
}

#quote4 {
    grid-area: six;

}

#article2 {
    grid-area: seven;
}

#quote5 {
    grid-area: eight;
}

#quote6 {
    grid-area: nine;
}

#article3 {
    grid-area: ten;
}

#quote7 {
    grid-area: eleven;
}

#quote8 {
    grid-area: twelve;
}

/* media query for devices larger than 600px */

@media (min-width: 600px) {
    #quote5,
    #quote6,
    #quote7,
    #quote8 {
    padding-top: 1.5rem;
    }
}

/* excercise page container */

.exercise-page-container {
    margin: 1rem;
}

/* exercise flex photo grid */

.flex-photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
}

.figure-exercise {
    padding: 1rem;
    flex-basis: 50%;
}

/* media query for 600px and above */

@media (min-width: 600px) {

    .figure-exercise {
        flex-basis: 33%;
    }
}

/* media query for 1024px and above */

@media (min-width: 1024px) {

    .figure-exercise {
        flex-basis: 25%;
    }
}

/* image size and style */

.img-exercise {
    width: 100%;
    border-radius: 10px;
}

/* zoom effect on hover of image */

.img-exercise:hover {
     transform: scale(1.25);
}

/* workout page */

/* workouts page container */

.workouts-page-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: center;
}

.workout-flex-basis {
    flex-basis: 100%;
    margin: 1rem;
}

/* media query for 768px and above */

@media (min-width: 768px) {

    .workout-flex-basis {
        flex-basis: 42%;
        margin: 1.75rem;
    }
}

/* ordered list for workouts */

ol {
    padding-left: 1rem;
}

/* links in workouts container */

.link-container {
    margin: auto;
    max-width: 90%;
    text-align: justify;
}

/* workout link list */

.workout-link-list {
    list-style: square;
    padding: 1rem;
}

.workout-link-list>li {
    margin: 1rem;
}

/* form page container */

.form-page-body {
    background-image: radial-gradient(#99d3df, #e9e9e9);
    padding: 1rem;
}

.form-page-container {
    margin: 0 1rem;
}

/* about form container */

.about-form-container {
    margin: 2rem auto 3rem auto;
    width: fit-content;
    text-align: center;
}

/* contact form */

form {
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
}


input {
    padding: 2rem;
    text-align: center;
    width: 50%;
    border-radius: 10px;
    margin: auto;
    border: none;
    color: black;
    font-size: 0.5rem;
}

textarea {
    padding: 3rem 0;
    text-align: center;
    width: 75%;
    border-radius: 10px;
    margin: 2rem auto;
    border: none;

}

button {
    width: 20%;
    height: 2rem;
    border-radius: 10px;
    margin: auto;
    background-color: #cdcdcd;
    margin-bottom: 1rem;
    font-family: teko;
    font-size: 1.25rem;
    border: solid 0.75px #000000;
}

button:hover {
    text-transform: uppercase;
}

/* thank-you for contacting */

.thank-you-page {
    margin: 1rem;
}

.thank-you-container {
    /* Background color for browers that dont support gradient */
    background-color: #99d3df;
    background-image: radial-gradient(#99d3df, #e9e9e9);
    margin: 3rem auto 3rem auto;
    width: fit-content;
    text-align: center;
}

.thank-you-text {
    font-size: 1.5rem;
}

/* thank-you images */

.thank-you-image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.figure-thank-you {
    padding: 0.25rem;
    flex-basis: 100%;

}

/* media query for 600px and above */

@media (min-width: 600px) {
    .figure-thank-you {
        flex-basis: 50%;
        margin: 4rem 0;
    }
}

.image-thank-you {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*media queries for container 600px and above */

@media (min-width: 600px) {
    .hero-quote-container,
    .person-hero,
    .person,
    .quote-text-container {
        font-size: 1.5rem;
    }

    .person {
        margin-top: 2rem;
    }

    .article-container,
    .about-container,
    .about-exercise-container,
    .about-form-container,
    input {
        font-size: 1rem;
    }

    .quote-text-container {
        margin-top: 0.5rem;
    }

    #about-motivation {
        padding-top: 3rem;
    }

    .about-form-container {
        padding: 2rem;
    }

    .thank-you-text {
        font-size: 2rem;
    }

    .thank-you-image-container {
        margin: 3rem 0;
    }

    .thank-you-container {
        margin-top: 4rem;
    }

    .flex-photo-grid {
        padding: 0.75rem;
    }

    textarea {
        font-size: 1.25rem;
    }

    button {
        font-size: 1.5rem;
        border: solid 1.5px #000000;
    }
}

/* media  query for screens bigger than 768px */

@media (min-width: 768px) {
    .about-workouts,
    .workouts-container,
    .about-workouts,
    .link-container {
        font-size: 1rem;
        padding-top: 2rem;
    }

    .link-container {
        max-width: 75%;
    }
}

/* media query for 1024px and above */

@media (min-width: 1024px) {
    .article-container,
    .about-container,
    .about-exercise-container,
    .about-form-container,
    input {
        font-size: 1.25rem;
    }

    .hero-quote-container,
    .person-hero,
    .person,
    .quote-text-container {
        font-size: 1.75rem;
    }

    .about-workouts,
    .workouts-container,
    .about-workouts,
    .link-container {
        font-size: 1.25rem;
    }

    .thank-you-text {
        font-size: 3rem;
    }

    .about-exercise-container {
        text-align: center;
    }

    .flex-photo-grid {
        padding: 2rem;
    }
}