@import url('https://fonts.googleapis.com/css2?family=Teko&family=Ubuntu&display=swap');

/* All elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body style rules */

body {

    font-family: 'Ubuntu', sans-serif, Helvetica, arial;
    font-weight: 400;
    text-align: center;
    font-size: 100%; /* Sets font-size for mobile devices */

}

/* H1, H2, H3 general rules */

h1,
h2,
h3  {

    font-family: Teko, sans-serif, Helvetica, arial;
}

/* remove default <a> and <ul> styles */

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

/* h1 style rules */

h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
}
    